<%- include("partials/header") %> <%- include("partials/nav") %>

<main class="container py-4">
  <h1 class="text-center m-2"><%= quiz.title %></h1>
  <h2 class="text-center m-2"><%= quiz.description %></h2>
  <h2 class="small text-end">Par <%= quiz.author.fullname %></h2>
  <h2 class="small text-end">
    Date de création : <%= new Date(quiz.created_at).toLocaleDateString('fr-FR')
    %>
  </h2>
  <h3>Thèmes</h3>
  <ul class="mb-4 p-0">
    <% for (const tag of quiz.tagsList) { %>
    <li class="badge bg-primary"><%= tag.name %></li>
    <% } %>
  </ul>
  <h3>Questions</h3>

  <% for (const question of quiz.questionsList) { %>
  <div class="question">
    <div class="question__header">
      <h4 class="fw-bold mb-1"><%= question.description %></h4>
      <span class="question__badge badge bg-info">
        <%= question.level.name %>
      </span>
    </div>
    <p class="fst-italic text-secondary"><%= question.anecdote %></p>
    <div class="mb-3 ms-2">
      <% for (const answer of question.answersList) { %>
      <div class="answer">
        <input type="radio" id="<%= answer.id %>" name="<%= question.id %>" value="<%= answer.description %>" />
        <label for="<%= answer.id %>"><%= answer.description %></label>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>

  <button class="d-block mx-auto btn btn-primary mb-4">Envoyer</button>
</main>

<%- include("partials/footer") %>
