<%- include("../partials/header") %> <%- include("../partials/nav") %>

<main class="container py-4">
  <div class="d-flex justify-content-between align-items-center mt-4 mb-5">
    <h1>MON PROFIL</h1>

    <nav class="w-25">
      <ul class="profile__menu d-flex justify-content-around bg-primary">
        <li><a class="text-white" href="/profile">Profil</a></li>
        <li>
          <a class="active text-white" href="/profile/quizs">Mes quizs</a>
        </li>
        <li><a class="text-white" href="/profile/score">Mes scores</a></li>
      </ul>
    </nav>
  </div>

  <h2>Edition d'un quiz</h2>

  <% if (locals.error) { %> <%- include("../partials/error") %> <% } else { %>
  <form class="p-5" action="/profile/quizs?quiz_id=/<%= quiz.id %>" method="POST">
    <label class="form-label h4 mb-3" for="title">Titre</label>
    <input
      class="form-control mb-4 disabled"
      type="text"
      id="title"
      name="title"
      placeholder="<%= quiz.title %>"
      value="<%= quiz.title %>"
    />

    <label class="form-label h4 mb-3" for="description">Description</label>
    <input
      class="form-control mb-4 disabled"
      type="text"
      id="description"
      name="description"
      placeholder="<%= quiz.description %>"
      value="<%= quiz.description %>"
    />

    <fieldset>
      <legend class="form-label h4 mb-3">Catégorie(s)</legend>

      <ul class="tags__list list-unstyled mb-4 p-0">
        <% for (const tag of quiz.tagsList) { %>
        <li class="badge bg-primary"><%= tag.name %></li>
        <% } %>
      </ul>

      <select class="tags w-100 hidden" name="tag" id="tag" multiple>
        <% for (const tag of tags) { %>
        <option class="tags__tag" value="<%= tag.id %>"><%= tag.name %></option>
        <% } %>
      </select>
    </fieldset>

    <button class="button button--edit mb-4">Modifier le quiz</button>
    <input
      class="button my-4 mx-auto hidden"
      type="submit"
      value="Valider le quiz"
    />
    <a class="button mb-4" href="/profile/quizs?quiz_id=/<%= quiz.id %>/questions">
      Voir les questions
    </a>
    <a
      href="#deleteQuizModal"
      class="button button--remove mb-4"
      data-toggle="modal"
    >
      Supprimer le quiz
    </a>
  </form>
  <%- include("../partials/modals/deleteModal", { quiz }) %> <% } %>
</main>

<%- include("../partials/footer") %>
