<div id="delete<%= data.uc %>Modal<%= id %>" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/admin/delete/<%= data.name %>/<%= id %>" method="POST">
        <div class="modal-header">
          <h4 class="modal-title">Delete <%= data.uc %></h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure ?</p>
          <p class="text-warning">
            <small>This action cannot be undone.</small>
          </p>
          <input
          type="hidden"
          class="hiddenItem"
          value=""
        />
        </div>
        <div class="modal-footer">
          <input
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            value="Cancel"
          />
          <input
            type="submit"
            class="btn btn-danger"
            value="Delete"
          />
        </div>
      </form>
    </div>
  </div>
</div>
